<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body my-5">
                    <div class="container text-center">
                        <img src="" style="height: 200px; width: 200px;" alt="profile photo" class="my_profile_picture" th:src="@{'/img/'+${user.imageUrl}}"/>
                    </div>

                    <h1 class="text-center mt-2 text-secondary font-italic font-weight-light">
                        Add your contacts on Cloud for FREEEEEEE!
                    </h1>
                    
                    <div class="container text-center">
                        <a th:href="@{/user/add-contact}" type="button" class="btn btn-success btn-lg text-uppercase mt-3 text-center">Add new Contacts</a>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </section>

</body>
</html>